<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body id="home">
  <%= require('ejs-render-loader!./templates/menu.ejs') %>

  <%= require('ejs-render-loader!./templates/slider.ejs') %>

  <%= require('ejs-render-loader!./templates/about.ejs') %>

  <%= require('ejs-render-loader!./templates/numbers.ejs') %>

  <%= require('ejs-render-loader!./templates/service.ejs') %>

  <%= require('ejs-render-loader!./templates/desing.ejs') %>
  
  <%= require('ejs-render-loader!./templates/wwd.ejs') %>
  
  <%= require('ejs-render-loader!./templates/testimonials.ejs') %>

  <%= require('ejs-render-loader!./templates/logos.ejs') %>

  <%= require('ejs-render-loader!./templates/work.ejs') %>

  <%= require('ejs-render-loader!./templates/testimonials-with-photo.ejs') %>

  <%= require('ejs-render-loader!./templates/clients.ejs') %>

  <%= require('ejs-render-loader!./templates/blog.ejs') %>

  <%= require('ejs-render-loader!./templates/map.ejs') %>

  <%= require('ejs-render-loader!./templates/footer.ejs') %>
</body>
</html>